<div class="home-wrapper">

<div class="main-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="main-header__left">
          <h1 class="main-header__title">
            {{'pages.home.headerTitle' | translate}}
          </h1>
          <p class="main-header__desc">
            {{'pages.home.headerDescription' | translate}}
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="partners-section">
  <div class="container">
    <h4>Партнеры:</h4>
    <div class="partners-wrapper card">
      <div class="partners-items">
        <img src="/assets/images/partners/1.png" alt="Partners Item">
      </div>
      <div class="partners-items">
        <img src="/assets/images/partners/2.png" alt="Partners Item">
      </div>
      <div class="partners-items">
        <img src="/assets/images/partners/3.png" alt="Partners Item">
      </div>
      <div class="partners-items">
        <img src="/assets/images/partners/4.png" alt="Partners Item">
      </div>
      <div class="partners-items">
        <img src="/assets/images/partners/5.png" alt="Partners Item">
      </div>
    </div>
  </div>
</div>

<section class="about-section">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-lg-6">
        <h2 class="about-section__title main-headline">О нас</h2>
        <p class="about-section__description">
          Наша команда разработала и усовершенствовала стратегию<br>
          выбора IPO, а тесные отношения с брокерами позволяют нам<br>
          покупать IPO на более выгодных условиях и с бОльшей аллокацией.
        </p>
        <span class="about-section__slogan">Раньше мы назывались: DN Capital Management</span>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="about-section__right">

          <div class="about-section__item">
            <strong>150+</strong>
            <span>Постоянных клиентов</span>
          </div>

          <div class="about-section__item">
            <strong>8 лет</strong>
            <span>На рынке инвестиций</span>
          </div>

          <div class="about-section__contacts">
            <h4>Контакты</h4>
            <div class="contacts__items">
              <div class="contacts__items-first">
                <a href="tel:+7(701)7771212">+7 (701) 777-12-12</a>
                <a href="mailto:info@investlink.io">info@investlink.io</a>
              </div>
              <div class="contacts__items-second">
                <a href="#">
                  Казахстан, Алматы<br>
                  Достык 192/2, 8 этаж
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="solutions-wrapper">
  <section class="solutions-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5">
          <h2 class="main-headline" id="text">Решения</h2>

          <div class="solutions-iphone">
            <!--						<div class="solutions-iphone__screen">-->
            <!--							<img src="/assets/images/screen/screen.png" alt="Screen">-->
            <!--						</div>-->
            <div class="solutions-iphone__mockup">
              <img src="/assets/images/iphone-mockup.png" class="mockup" alt="iPhone">
              <img src="/assets/images/screen/screen.png" class="screen" alt="Screen">
            </div>
          </div>


        </div>
        <div class="col-lg-7">
          <div class="solutions-text">

            <div class="solutions-text__items active-1">
              <div class="solutions-text__title">Pre-IPO</div>
              <div class="solutions-text__description">
                Наша команда разработала и усовершенствовала стратегию выбора IPO, а тесные отношения с брокерами
                позволяют нам покупать IPO на более выгодных условиях и с бОльшей аллокацией.
                <div class="solutions-text__link">
                  <a href="#" class="link">Узнать больше <i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /.solutions-text__items -->

            <div class="solutions-text__items active-2">
              <div class="solutions-text__title">Фонды</div>
              <div class="solutions-text__description">
                Наша команда разработала и усовершенствовала стратегию выбора IPO, а тесные отношения с брокерами
                позволяют нам покупать IPO на более выгодных условиях и с бОльшей аллокацией.
                <div class="solutions-text__link">
                  <a href="#" class="link">Узнать больше <i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /.solutions-text__items -->

            <div class="solutions-text__items active-3">
              <div class="solutions-text__title">Консалтинг</div>
              <div class="solutions-text__description">
                Наша команда разработала и усовершенствовала стратегию выбора IPO, а тесные отношения с брокерами
                позволяют нам покупать IPO на более выгодных условиях и с бОльшей аллокацией.
                <div class="solutions-text__link">
                  <a href="#" class="link">Узнать больше <i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /.solutions-text__items -->

            <div class="solutions-text__items active-4">
              <div class="solutions-text__title">Трейдинг</div>
              <div class="solutions-text__description">
                Наша команда разработала и усовершенствовала стратегию выбора IPO, а тесные отношения с брокерами
                позволяют нам покупать IPO на более выгодных условиях и с бОльшей аллокацией.
                <div class="solutions-text__link">
                  <a href="#" class="link">Узнать больше <i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /.solutions-text__items -->

            <div class="solutions-text__items active-5">
              <div class="solutions-text__title">Аналитика</div>
              <div class="solutions-text__description">
                Наша команда разработала и усовершенствовала стратегию выбора IPO, а тесные отношения с брокерами
                позволяют нам покупать IPO на более выгодных условиях и с бОльшей аллокацией.
                <div class="solutions-text__link">
                  <a href="#" class="link">Узнать больше <i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /.solutions-text__items -->

          </div>
          <!-- /.solutions-text -->
        </div>
      </div>
    </div>
  </section>
</div>

<section class="preipo-section">
  <div class="container">
    <h2 class="main-headline">Pre-IPO идеи</h2>

    <div class="row justify-content-center">
      <div class="col-lg-3">

        <app-preipo-section></app-preipo-section>

      </div>

      <div class="col-lg-3">

        <app-preipo-section></app-preipo-section>

      </div>
      <div class="col-lg-3">

        <app-preipo-section></app-preipo-section>

      </div>
    </div>

  </div>
</section>

<section class="s-certificate">
  <div class="container">

    <h2 class="main-headline">Лицензии</h2>

    <div class="row align-items-center">

      <div class="col-lg-7">
        <div class="certificate-img">
          <img src="/assets/images/lice-1.png" alt="Сертификат">
        </div>
      </div>

      <div class="col-lg-5">
        <div class="certificate__text">
          <div class="certificate__text-title">
            Деятельность компании<br> лицензирована Международным<br> Финансовым Центром
            «Астана»<br> (МФЦА) на основе общего<br> английского права
          </div>
          <div class="certificate__text-desc">Arranging Deals in Investments</div>
          <div class="certificate__text-desc">Advising on Investments</div>
          <div class="certificate__text-link"><a href="#">Сайт регулятора <i class="bi bi-box-arrow-up-right"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="s-teams">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-8">
        <h2 class="main-headline">Команда</h2>
      </div>
      <div class="col-lg-4">
        <div class="headline-desc">
          Более 50 профессионалов в сфере<br> торговли, инвестиций, аналитики и<br> информационных технологий
        </div>
      </div>
    </div>

    <div class="teams-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-6">
          <div class="teams-card">
            <div class="teams-card__img">
              <img src="/assets/images/teams-photo.png" alt="First Name">
            </div>
            <div class="teams-card__name">Данияр<br> Нурсултан</div>
            <div class="teams-card__position">CEO</div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="teams-card">
            <div class="teams-card__img">
              <img src="/assets/images/teams-photo.png" alt="First Name">
            </div>
            <div class="teams-card__name">Данияр<br> Нурсултан</div>
            <div class="teams-card__position">CEO</div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="teams-card">
            <div class="teams-card__img">
              <img src="/assets/images/teams-photo.png" alt="First Name">
            </div>
            <div class="teams-card__name">Данияр<br> Нурсултан</div>
            <div class="teams-card__position">CEO</div>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="teams-card last-item">
            <div class="teams-card__img">
              <img src="/assets/images/teams-photo.png" alt="First Name">
            </div>
            <div class="teams-card__name">Данияр<br> Нурсултан</div>
            <div class="teams-card__position">CEO</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


</div>


